<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="row">
    <app-form-field label="Name" class="col-12 col-md form-field-col">
      <app-text-input formControlName="name"></app-text-input>
    </app-form-field>

    <app-form-field label="Status" class="col-12 col-md form-field-col">
      <app-select formControlName="status">
        <option [value]="TaskStatus.New">New</option>
        <option [value]="TaskStatus.InProgress">In progress</option>
        <option [value]="TaskStatus.Finished">Finished</option>
      </app-select>
    </app-form-field>
  </div>

  <div class="row">
    <app-form-field label="Description" class="col form-field-col">
      <app-textarea formControlName="description"></app-textarea>
    </app-form-field>
  </div>

  <div class="row justify-content-end">
    <div class="col-12 col-md-auto">
      <button class="button submit-button" [disabled]="pending || existingTask && form.pristine">
        <span *ngIf="existingTask" data-test-id="update-task-button-text">Save changes</span>
        <span *ngIf="!existingTask" data-test-id="new-task-button-text">Add new task</span>
      </button>
    </div>
  </div>
</form>
