<ng-container
  *ngIf="{ tasksState: tasksService.state$ | async, isPending: isPending$ | async  } as state"
  [ngSwitch]="state.tasksState.currentTaskFetchingStatus"
>
  <header class="row justify-content-center header">
    <a routerLink="/tasks/1" class="tasks-list-link link col-auto">Show all tasks</a>
  </header>

  <div
    *ngIf="state.tasksState.currentTaskFetchingStatus !== RequestStatus.Success"
    class="row justify-content-center"
  >
    <div class="col-auto">
      <div *ngSwitchCase="RequestStatus.Pending" class="loader"></div>
      <p *ngSwitchCase="RequestStatus.NotFound" class="not-found-msg">Task has not been found</p>
      <p *ngSwitchCase="RequestStatus.Error" class="fetching-error error-message">Something went wrong</p>
    </div>
  </div>

  <ng-container *ngSwitchCase="RequestStatus.Success">
    <h4 class="task-name">{{ state.tasksState.currentTask.name }}</h4>
    <p class="task-desc">{{ state.tasksState.currentTask.description }}</p>

    <p class="task-status">
      <span>Status: </span>

      <span [ngSwitch]="state.tasksState.currentTask.status">
        <ng-container *ngSwitchCase="TaskStatus.New">new</ng-container>
        <ng-container *ngSwitchCase="TaskStatus.InProgress">in progress</ng-container>
        <ng-container *ngSwitchCase="TaskStatus.Finished">finished</ng-container>
      </span>
    </p>

    <p class="task-creation-date">
      Created at: {{ state.tasksState.currentTask.createdAt | date: 'd/M/y H:mm' }}
    </p>

    <p class="task-update-date">
      Updated at: {{ state.tasksState.currentTask.updatedAt | date: 'd/M/y H:mm' }}
    </p>

    <footer class="footer row">
      <div class="col-6 col-sm-auto">
        <button
          [disabled]="state.isPending"
          [routerLink]="['/tasks/edit', state.tasksState.currentTask.id]"
          class="task-edit-button footer-button button"
        >
          Edit
        </button>
      </div>

      <div class="col-6 col-sm-auto">
        <button
          [disabled]="state.isPending"
          class="task-delete-button footer-button button"
          (click)="deleteTask()"
        >
          Delete
        </button>
      </div>
    </footer>
  </ng-container>
</ng-container>
