<ng-container
  *ngIf="{ tasksState: tasksService.state$ | async, isPending: isPending$ | async } as state"
  [ngSwitch]="state.tasksState.currentTaskFetchingStatus"
>
  <header class="row justify-content-center header">
    <a routerLink="/tasks/1" class="link col-auto" data-test-id="tasks-list-link">Show all tasks</a>
  </header>

  <div
    *ngIf="state.tasksState.currentTaskFetchingStatus !== RequestStatus.Success"
    class="row justify-content-center"
  >
    <div class="col-auto">
      <div *ngSwitchCase="RequestStatus.Pending" class="loader"></div>

      <p *ngSwitchCase="RequestStatus.NotFound" data-test-id="not-found-msg">
        Task has not been found
      </p>

      <p *ngSwitchCase="RequestStatus.Error" class="error-message" data-test-id="fetching-error">
        Something went wrong
      </p>
    </div>
  </div>

  <ng-container *ngSwitchCase="RequestStatus.Success">
    <h4 data-test-id="task-name">{{ state.tasksState.currentTask.name }}</h4>
    <p class="task-desc">{{ state.tasksState.currentTask.description }}</p>

    <p class="task-status">
      <span>Status: </span>
      <app-task-status [task]="state.tasksState.currentTask"></app-task-status>
    </p>

    <p class="task-date" data-test-id="task-creation-date">
      Created at: {{ state.tasksState.currentTask.createdAt | date: 'd/M/y H:mm' }}
    </p>

    <p class="task-date" data-test-id="task-update-date">
      Updated at: {{ state.tasksState.currentTask.updatedAt | date: 'd/M/y H:mm' }}
    </p>

    <footer class="footer row">
      <div class="col-6 col-sm-auto">
        <button
          [disabled]="state.isPending"
          [routerLink]="['/tasks/edit', state.tasksState.currentTask.id]"
          class="footer-button button"
          data-test-id="task-edit-button"
        >
          Edit
        </button>
      </div>

      <div class="col-6 col-sm-auto">
        <button
          [disabled]="state.isPending"
          class="footer-button button"
          data-test-id="task-delete-button"
          (click)="deleteTask()"
        >
          Delete
        </button>
      </div>
    </footer>
  </ng-container>
</ng-container>
