<div class="wrapper" [class.finished]="task.status === TaskStatus.Finished">
  <div class="row no-gutters">
    <h2 class="col-12 task-name">{{ task.name }}</h2>
  </div>

  <div class="row no-gutters">
    <p class="col-12 task-desc">{{ task.description }}</p>
  </div>

  <div class="row no-gutters">
    <p class="col-12 task-status">
      <span>Status: </span>

      <span [ngSwitch]="task.status" data-test-id="task-status">
        <ng-container *ngSwitchCase="TaskStatus.New">new</ng-container>
        <ng-container *ngSwitchCase="TaskStatus.InProgress">in progress</ng-container>
        <ng-container *ngSwitchCase="TaskStatus.Finished">finished</ng-container>
      </span>
    </p>
  </div>

  <div class="row no-gutters justify-content-between">
    <a [routerLink]="['/tasks/details', task.id]" class="button" data-test-id="task-details-link">
      Show details
    </a>

    <button
      *ngIf="task.status !== TaskStatus.Finished"
      class="button"
      data-test-id="task-status-button"
      [ngSwitch]="task.status"
      [disabled]="isPending"
      (click)="changeTaskStatus()"
    >
      <ng-container *ngSwitchCase="TaskStatus.New">Mark as started</ng-container>
      <ng-container *ngSwitchCase="TaskStatus.InProgress">Mark as finished</ng-container>
    </button>
  </div>
</div>

