<header class="header row">
  <label class="label col">{{ label }}</label>

  <div class="col">
    <app-form-field-validation-error
      *ngIf="ngControl.touched"
      [errors]="ngControl.errors"
    >
    </app-form-field-validation-error>
  </div>
</header>

<div class="row">
  <div class="col">
    <textarea
      [placeholder]="placeholder"
      [rows]="rows"
      class="field"
      [ngModel]="value"
      (ngModelChange)="handleChange($event)"
      (blur)="handleTouch()"
    ></textarea>
  </div>
</div>
