<div *ngIf="(tasksService.state$ | async) as state" [ngSwitch]="state.tasksFetchingStatus" class="wrapper">
  <a routerLink="/tasks/new" class="new-task-link">Create new task</a>

  <p *ngIf="isInvalidPageNumberProvided" class="page-number-error">Invalid page number provided.</p>

  <div *ngSwitchCase="RequestStatus.Pending" class="loader"></div>
  <div *ngSwitchCase="RequestStatus.Error" class="fetching-error">Something went wrong.</div>

  <ng-container *ngSwitchCase="RequestStatus.Success">
    <app-task *ngFor="let task of state.tasks" [task]="task"></app-task>

    <div class="pagination">
      <a
        *ngIf="state.tasksPagination.prevPage !== null"
        [routerLink]="['/tasks', state.tasksPagination.prevPage]"
        class="prev-page-link"
      >
        Previous
      </a>

      <a
        *ngIf="state.tasksPagination.nextPage !== null"
        [routerLink]="['/tasks', state.tasksPagination.nextPage]"
        class="next-page-link"
      >
        Next
      </a>
    </div>
  </ng-container>
</div>
