<ng-container *ngIf="(tasksService.state$ | async) as state" [ngSwitch]="state.tasksFetchingStatus">
  <header class="row justify-content-center header">
    <a routerLink="/tasks/new" class="new-task-link link col-auto">Create new task</a>
  </header>

  <div *ngIf="state.tasksFetchingStatus !== RequestStatus.Success" class="row justify-content-center">
    <div class="col-auto">
      <div *ngSwitchCase="RequestStatus.Pending" class="loader"></div>
      <div *ngSwitchCase="RequestStatus.Error" class="fetching-error">Something went wrong.</div>
    </div>
  </div>

  <ng-container *ngSwitchCase="RequestStatus.Success">
    <div class="row tasks-wrapper" [ngClass]="{ 'justify-content-center': state.tasks.length === 0 }">
      <p *ngIf="state.tasks.length === 0" class="col-auto no-data-msg">No tasks found.</p>

      <div *ngFor="let task of state.tasks; trackBy: trackTasks" class="col-lg-6">
        <app-task class="task" [task]="task"></app-task>
      </div>
    </div>

    <div class="row pagination" [ngClass]="{
          'justify-content-between': state.tasksPagination.prevPage && state.tasksPagination.nextPage,
          'justify-content-end': !state.tasksPagination.prevPage && state.tasksPagination.nextPage
        }">
      <a *ngIf="state.tasksPagination.prevPage" [routerLink]="['/tasks', state.tasksPagination.prevPage]"
        class="prev-page-link link col-auto">
        Previous
      </a>

      <a *ngIf="state.tasksPagination.nextPage" [routerLink]="['/tasks', state.tasksPagination.nextPage]"
        class="next-page-link link col-auto">
        Next
      </a>
    </div>
  </ng-container>
</ng-container>
